
{{> post-info post}}

{{#if loggedIn}}
  <div id="search2" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick=closeNav3()>&times;</a>
        <input class="srch" type="text" placeholder="Search..">
    </div>

    <div id="add" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick=closeNav4()>&times;</a>
    <form>
        <label for="wineName">Wine Name</label>
        <input id="name" type="text"  name="wineName" placeholder="Name of Wine...">
    
        <label for="size">OZ</label>
        <input id="size" type="text"  name="size" placeholder="Year...">

        <label for="price">$</label>
        <input id="price" type="text"  name="price" placeholder="Price...">

        <label for="resell">$</label>
        <input id="resell" type="text"  name="resell" placeholder="resell value...">

        <label for="notes">Notes</label>
        <input id="notes" type="text"  name="notes" placeholder="Thoughts...">

    
        <input class="new-post-form"type="submit" >
    </form>
</div>

<div id="out" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick=closeNav5()>&times;</a>
        <form>
            
        
            <div class="container">
        
                <button id="logout" class="login-form" type="submit">Logout</button>
         
    </div> 

    <script src="/javascript/logout.js"></script>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/add-wine.js"></script>
{{!-- <script src="/javascript/upvote.js"></script> --}}
{{/if}}
  