
    

    <div class="hero-image img-fluid">
        <div class="hero-text">
            
        </div>
    </div>
    
            <button class="button" onclick=openNav1()><span>GET STARTED </span></button>

              <p class="home-text"> The social network for wine lovers.</p>

<div id="search" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick=closeNav()>&times;</a>
        <input class="srch" type="text" placeholder="Search..">
    </div>

<div id="signin" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick=closeNav2()>&times;</a>
        <form class="login-form">
            
        
            <div class="container">
                <label for="email"><b>Email</b></label>
                <input id="email-login" type="text" placeholder="Enter Email address" name="email" required>
        
                <label for="psw"><b>Password</b></label>
                <input  id="password-login" type="password" placeholder="Enter Password" name="psw" required>
        
                <button  type="submit">Login</button>
         
        </form>
    </div> 

<div id="signup" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick=closeNav1()>&times;</a>
     <form  class="signup-form" style="border:1px solid #ccc">
            <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>
        
                <label for="email-signup"><b>Email</b></label>
                <input id="email-signup" type="text" placeholder="Enter Email" name="email-signup" required>

                <label for="username-signup"><b>Username</b></label>
                <input id="username-signup" type="text" placeholder="@" name="username-signup" required>

        
                <label for="password-signup"><b>Password</b></label>
                <input id="password-signup"type="password" placeholder="Enter Password" name="password-signup" required>
        
        
    
        
                <p>By creating an account you agree that you are at least 21 years of age </p>

                
        
                <div class="clearfix">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form> 

<script src="/javascript/login.js"></script>








